    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        font-family: 'Gelasio', serif;
        font-size: 1rem;
    }


    html {
        background: url(img/retro.jpg) no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        min-height: 427px;
        box-sizing: border-box;
    }

    main {
        position: relative;
    }

    h1 {
        margin: 0 auto;
        color: rgb(200, 217, 245);
        text-shadow: rgb(114, 235, 210) 1px 0 10px;
        font-size: 3rem;
        text-align: center;
        padding: 2rem;
    }
    
    #new-list-btn {
        position: absolute;
        top: 20px;
        right: 20px;
        height: 64px;
        width: 64px;
        border-radius: 50%;
        background-color: rgb(210, 250, 248);
        border: transparent;
    }

    i.add-list {
        font-size: 48px;
    }
        
    form {
        display: flex;
        justify-content: space-between;
        width: 95%;
        margin: 15px auto;
        padding: 25px;
        border-radius: 5px;
        background: rgb(210, 250, 248);
        }
    
    #task {
        background:rgb(210, 250, 248);
        border-top: rgb(210, 250, 248);
        border-right:rgb(210, 250, 248);
        border-left: rgb(210, 250, 248);
        min-width: 70%;
    }

    #add-btn {
        border: none;
        background: rgb(210, 250, 248);
    }

    .fa-plus-square { 
        content: 'f0fe';
        color: rgb(34, 193, 195);
        font-size: 30px;
    }

    .task-box {
        min-height: 300px;
        width: 95%;
        padding: 5px;
        margin: 0 auto 15px auto;
        border-radius: 5px;
        background: rgb(181, 225, 250);
        display: flex;
        flex-direction: column;
    }

    #result {
        width: 95%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background: rgb(181, 225, 250);
    }


    .task-card {
        width: 95%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        margin-bottom: 5px;
        background: rgb(181, 225, 250);
    }

    .task-card input.task-new {
        width: 70%;
    }

    .controls {
        display: flex;
        background: rgb(181, 225, 250);
    }

    .controls > * {
        margin: 5px;
        padding: 5px;
        background:rgb(54, 183, 243);
        box-shadow: 1px 2px 3px rgb(0 47 255);
        border: transparent;
        border-radius: 25%;
        font-size: 15px;
    }

    .task-new {
        border: transparent;
        border-bottom: 3px solid rgb(94, 109, 243);
        background: rgb(181, 225, 250);
        margin-left: 10px;
        margin-right: 10px;   
    }
    .filter-container {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 1rem;
    }

    label[for="filter-btn"] {
        align-self: flex-end;
        color: rgb(142, 142, 151);
        margin-bottom: 0.5rem;
    }

    .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;
        align-self: flex-end;
}
     .switch input {
        opacity: 0;
        width: 0;
        height: 0; 
    }

    .slider {
        position: absolute;
        cursor: pointer;
        top:0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgb(156, 155, 155);
        -webkit-transition: 4s;
        transition: 4s;
    }

    .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }

    input:checked + .slider {
        background-color: #2196F3;
    }
      
    input:focus + .slider {
        box-shadow: 0 0 1px #2196F3;
    }
      
    input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }
      
    /* Rounded sliders */
    .slider.round {
        border-radius: 34px;
    }
      
    .slider.round:before {
        border-radius: 50%;
    }

    .completed-task input {
    color: rgb(33 129 38);
    text-decoration:line-through;
    }

    @media screen and (min-width: 600px) {
        form {
            max-width: 300px;
        }
        .task-box {
            max-width: 300px;
        }
    }

    @media screen and (min-width: 1024px) {
        .flex-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
        }
    }