    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        font-family: 'Gelasio', serif;
    }


    html {
        background: url(/img/retro.jpg) no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        min-height: 427px;
    }

    h1 {
        margin: 0 auto;
        color: rgb(200, 217, 245);
        text-shadow: rgb(114, 235, 210) 1px 0 10px;
        font-size: 3rem;
        text-align: center;
        padding: 2rem;
    }
    
        
    form {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        max-width: 300px;
        margin: 100px auto;
        padding: 25px;
        border-radius: 5px;
        background: rgb(210, 250, 248);
        }
    
    #task {
        background: transparent;
        background:rgb(210, 250, 248);
        border-top: rgb(210, 250, 248);
        border-right:rgb(210, 250, 248);
        border-left: rgb(210, 250, 248);
    }

    #add-btn {
        border: none;
        background: rgb(210, 250, 248);
    }

    .fa-plus-square { 
        content: 'f0fe';
        color: rgb(34, 193, 195);
        font-size: 30px;
        background: rgb(210, 250, 248);
    }

    .task-box {
        width: 100%;
        padding: 10px;
        max-width: 300px;
        margin: 0 auto;
        border-radius: 5px;
        background: rgb(181, 225, 250);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 50px;
        
    }

    #result {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: rgb(181, 225, 250);
    }


    .task-card {
        width: 70%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 5px;
        background: rgb(181, 225, 250);
    }

    .controls {
        display: flex;
        background: rgb(181, 225, 250);
    }

    .controls > * {
        margin: 5px;
        padding: 5px;
        background:rgb(54, 183, 243);
        box-shadow: 1px 2px 3px rgb(0 47 255);
        border: transparent;
        border-radius: 25%;
        font-size: 15px;
    }

    .task-new {
        border: transparent;
        border-bottom: 3px solid rgb(94, 109, 243);
        background: rgb(181, 225, 250);
        margin: 1rem;    
    }

    #filter-btn {
        background:rgb(123, 173, 247);
        color: rgb(33, 60, 100);
        text-shadow: 1px 1px 1px rgb(185, 185, 247);
        border: 2px solid rgb(110, 134, 245);
        font-size: 1rem;
        padding: 5px;
    }
    
    .completed-task input {
    color: rgb(33 129 38);
    text-decoration:line-through;
    }